.navbar {
    background-color: orange;
    box-shadow: 1px 5px 15px 2px #08080839;
    padding: 1% 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.navbar__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}