.purchasecard {
    width: 300px;
    padding: 20px;
    border: 0.1px solid rgba(214, 209, 209, 0.567);
    box-shadow: 0px 1px 2px 0px #0808083a;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr, 2fr, 1fr ;
    place-items: center;
}
.purchasecard__title {
    grid-column: span;
}
.purchasecard__price {
    grid-column: span 3;
}