.homepage__filters {
  border: 1px;
    padding: 20px;
    margin: 1% 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.homepage__filtername {
  display: flex;  
}
.homepage__btn::before {
  content: 'Dark';
}
.dark .homepage__btn::before {
  content: 'Ligth';
}
.homepage__container {
  border: 1px;
  margin: 1% 10%;
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    }
.homepage__input {
  border-radius: 15px 0px 0px 15px;
  background-color: rgba(161, 160, 160, 0.342);
  border: none;
  outline: none;
}
.homepage__buton {
  background-color: orange;
  border: none;
}
